.task-column {
  margin-top: 20px;
  color: Black;
  padding: 5px 20px;
  border-radius: 10px;
  width: 300px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin: 10px;

  .buttons {
    display: flex;
    justify-content: space-around;
  }
  .task-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    font-size: 14px;
  }
  .badge {
    position: relative;
    top: -10px;
    left: -25px;
    color: white;
  }
  .task-name-wrapper {
    display: flex;
    width: 80%;
  }
}
