.task-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.task-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  margin: 20px 40px;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
